<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="chrome_driver_exe_path" value="E:\Nagesh\Software\chromedriver_win32"/>
    <add key="site_url" value="http://localhost:50939/"/>
  </appSettings>
</configuration>